.sns-header-box{
	width: 1000%;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	position: absolute;
	z-index: 10;
	left: 0px;
}

.sns-header-logo img{
	padding-left: 30px; 
}
.sns-header-menu{
	position: fixed;
	margin: 0px auto;
	background-color: var(--bgcolor);
	padding: 15px 0px;
	width: 100%;
	text-align: center;
	
}
.sns-header-list{
	float: left;
	color: var(--fontcolor);
}

@media screen and (min-width: 200px) and (max-width: 720px){
	.sns-header-allfeed{
		margin-left: 20px;
		padding: 0px 0px;
	}
	.sns-header-allfeed,
	.sns-header-userfeed,
	.sns-header-setting{
		padding: 0px 15px;
	}
}

@media screen and (min-width: 720px) and (max-width: 1310px){
	.sns-header-allfeed{
		margin-left: 20px;
		padding: 0px 0px;
	}
	.sns-header-allfeed,
	.sns-header-userfeed,
	.sns-header-setting{
		padding: 0px 70px;
	}
}
@media screen and (min-width: 1310px) and (max-width: 2000px){
	.sns-header-allfeed{
		margin-left: 20px;
		padding: 0px 0px;
	}
	.sns-header-allfeed,
	.sns-header-userfeed,
	.sns-header-setting{
		padding: 0px 170px;
	}
}


/* 사이드 메뉴바 CSS*/
#menu {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0px;
  right: -202px;
  z-index: 10;
  border: 1px solid #c9c9c9;
  background-color: var(--bgcolor);
  text-align: center;
  transition: All 0.2s ease;
  -webkit-transition: All 0.2s ease;
  -moz-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;

}
.menu-contents{
	margin: 20px 0px;
	
}
.menu-login{
	margin-top: 55px;
	border-top: solid 1px var(--fontcolor);
	padding-top: 20px;
}
.menu-questions{
	border-bottom: solid 1px var(--fontcolor);
	padding-bottom: 20px;
}

.menu-info{
	margin: 20px 0px;
}

html.open {
  overflow: hidden;
}

.menu-btn {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 25px;
  top: 20px;
  z-index: 1;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bgcolor);
  cursor: pointer;
}

.menu-title{
	position: relative;
	right: 22px;
	top: 26px;
}
.menu-title img{
	width: 100px;
	height: 35px; 
}

.close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 23px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}


#menu.open {
  right: 0px;
}

.page_cover.open {
  display: block;
}

.page_cover {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: none;
}

