.sponsors-box_column1{
	width: 1920px;
	height: 1440px;
	color: white;
	margin: 50px 0px;
	
}
.sponsors-box_column1_text{
	width: 400px;
	height: 150px;
	background-color: var(--bgcolor);
	position: relative;	
	left: 800px;
	top: -900px;
	border-radius: 45%;
	text-align: center;
	padding-top: 40px;
	line-height: 30px;
}
.sponsors-box_column1_text h2{
	padding-top: 20px;
	font-size: 30px;
}
.sponsors-box_column2_imgbox{
	width: 1200px;
	height: 150px;
	background-color: var(--columnbgcolor);
	margin-left: 360px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.sponsors-logo{
	margin: 0px 20px;
}
.nike-logo{
	width: 100px;
	height: 36px;
}
.under-logo{
	width: 100px;
	height: 78px;
}
.adidas-logo{
	width: 100px;
	height: 75px;
}
.new-logo{
	width: 100px;
	height: 50px;
}
.redbull-logo{
	width: 100px;
	height: 75px;
}
.descente-logo{
	width: 100px;
	height: 100px;
}
.lecoqsportif-logo{
	width: 100px;
	height: 100px;
}
.sponsors-box_column3{
	width: 1500px;
	margin-top: 50px;
}
.sponsors-box_column3_imgbox img{
	width: 1000px;
	height: 416px;
}
.sponsors-box_column3_text{
	position: relative;
	top: -270px;
	left: 1000px;
	color: var(--bgcolor);
	line-height: var(--line-height);
	background-color: var(--columnbgcolor);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.sponsors-box_column3_text p{
	font-size: 15px;
	margin-top: 20px;
}
.sponsors-box_column3_text a{
	color: tomato;
}
.sponsors-box_column4{
	width: 1500px;
}
.sponsors-box_column4_imgbox img{
	width: 1000px;
	height: 561px;
	margin-left: 910px;
}
.sponsors-box_column4_text{
	position: relative;
	top: -400px;
	left: -590px;
	color: var(--bgcolor);
	line-height: var(--line-height);
	background-color: #cccccc;
	padding-left: 850px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.sponsors-box_column4_text p{
	font-size: 15px;
	margin-top: 20px;
}
.sponsors-box_column4_text a{
	color: tomato;
}

.sponsors-box_column5{
	width: 1500px;
}
.sponsors-box_column5_imgbox img{
	width: 1000px;
	height: 666px;
}
.sponsors-box_column5_text{
	position: relative;
	top: -420px;
	left: 1000px;
	color: var(--bgcolor);
	line-height: var(--line-height);
	background-color: var(--columnbgcolor);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.sponsors-box_column5_text p{
	font-size: 15px;
	margin-top: 20px;
}
.sponsors-box_column5_text a{
	color: tomato;
}
.sponsors-box_column6{
	width: 1500px;
}
.sponsors-box_column6_imgbox img{
	width: 1000px;
	height: 403px;
	margin-left: 910px;
}
.sponsors-box_column6_text{
	position: relative;
	top: -330px;
	left: -590px;
	color: var(--bgcolor);
	line-height: var(--line-height);
	background-color: #cccccc;
	padding-left: 850px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.sponsors-box_column6_text p{
	font-size: 15px;
	margin-top: 20px;
}
.sponsors-box_column6_text a{
	color: tomato;
}

.sponsors-box_column7{
	width: 1500px;
}
.sponsors-box_column7_imgbox img{
	width: 1000px;
	height: 615px;
}
.sponsors-box_column7_text{
	position: relative;
	top: -420px;
	left: 1000px;
	color: var(--bgcolor);
	line-height: var(--line-height);
	background-color: var(--columnbgcolor);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.sponsors-box_column7_text p{
	font-size: 15px;
	margin-top: 20px;
}
.sponsors-box_column7_text a{
	color: tomato;
}

.sponsors-box_column8{
	color: var(--bgcolor);
	text-align: center;
	line-height: var(--line-height);
	margin-bottom: 50px;
}